
<div style="background-color: greenyellow;margin:50px">

    <H2>EMPLOYEE DETAILS</H2>
    <ul *ngFor = "let employee of employees">
        <li>{{employee.id}} {{employee.name | uppercase}} {{employee.salary}}</li>
    </ul>
    <h1>Form Component</h1>
    <!-- <form>
       <ol type="A">
          <li>Tea</li>
          <li>Coffee</li>
          <li>Water</li>
       </ol>
       <span id="beverage"> Beverage Preference : </span><br>
       &nbsp; &nbsp; &nbsp; <input type="checkbox" /> Tea <br>
       &nbsp; &nbsp; &nbsp; <input type="checkbox" /> Coffee <br>
       &nbsp; &nbsp; &nbsp; <input type="checkbox" /> Water <br>
       <br><br>
       Gender : <br>
       &nbsp; &nbsp; &nbsp; <input type="radio" name="gender"> Male
       &nbsp; &nbsp; &nbsp; <input type="radio" name="gender"> Female
       <br><br>
       Food Preference : <br>
       &nbsp; &nbsp; &nbsp; <input type="radio" name="meal"> Vegetarian
       &nbsp; &nbsp; &nbsp; <input type="radio" name="meal"> Non Vegetarian
       <br><br>
    
       Payment :
       <select>
          <option value="cc">Credit Card</option>
          <option value="dc">Debit Card</option>
       </select>
       <br><br>
       <button>Make Payment</button>
    
    </form> -->
    </div>